{% extends 'EniFrontendBundle::layout.html.twig' %} 

{% block content %}
	<div class="alert alert-success">{{ app.user.nom }} {{ app.user.prenom }} - Formateur 
		<a class="logout" href="{{ path('fos_user_security_logout') }}">
			{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
		</a>
	</div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                            <a class="navbar-brand" href="#">{{'theme.indexes.welcome'|trans}}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">{{'theme.indexes.question'|trans}}</a></li>
					<li><a href="#">{{'theme.indexes.theme'|trans}}</a></li>
					<li><a href="#">{{'theme.indexes.test'|trans}}</a></li>
					<li><a href="#">{{'theme.indexes.enrollment'|trans}}</a></li>
				</ul>
			</div>
		</div>
	</nav>

	{% block BackendContent %}

	{% endblock %}
{% endblock %}