{% extends 'EniFrontendBundle::layout.html.twig' %}

{% block content %}
    <h1>{{'theme.list.title'|trans}}</h1>

    <ul class="theme-records_list">
       
        
        {% for entity in entities %}
            <li class="row">
                <span class="col-md-3"> {{ entity.libelle }}</span>
                        <a class="btn btn-info" href="{{ path('theme_edit', { 'id': entity.id }) }}">edit</a>
            </li>
        {% endfor %}
    </ul>
    <div class="themes-ajouter">
         <a class="btn btn-success" href="{{ path('theme_new') }}">
                {{'theme.create.entry'|trans}}
          </a>
    </div>
           
    {% endblock %}
